@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

* {
    margin: auto;
    padding: 0;
    font-family: 'Hachi Maru Pop', cursive;
}

body {
    box-sizing: border-box;
    background: url(fond.jpg) top center;
    background-size: cover;
}

html {
    font-size: 62.5%;
}

h1 {
    position: relative;
    text-align: center;
    font-size: 50px;
    color: #9d9d9d;
}

#container {
    height: 100vw ;
    width: 100%;
}

#playlist {
    width: 60%;
    height: 35vw;
    background-color: #9d9d9d;
    margin-top: 54px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border: 5px inset black;
}

button {
    padding: 6px;
    margin-top: 85px;
    background-color: white;
    color:black;
    border: 3px inset black;
}

i {
    margin-right: 9px;
}

.video {
    margin: 25px;
    justify-content: center;
}

table {
    color : white;
    flex-direction: column;
    align-items: start;
}